- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('lib/ace.js')

.snippet-form-holder
  = form_for @snippet, url: url, html: { class: "form-horizontal snippet-form js-requires-input js-quick-submit common-note-form" } do |f|
    = form_errors(@snippet)

    .form-group
      = f.label :title, "标题", class: 'control-label'
      .col-sm-10
        = f.text_field :title, class: 'form-control', required: true, autofocus: true

    = render 'shared/form_elements/description', model: @snippet, project: @project, form: f

    = render 'shared/visibility_level', f: f, visibility_level: @snippet.visibility_level, can_change_visibility_level: true, form_model: @snippet

    .file-editor
      .form-group
        = f.label :file_name, "文件", class: 'control-label'
        .col-sm-10
          .file-holder.snippet
            .js-file-title.file-title
              = f.text_field :file_name, placeholder: "可选的文件名称以便增加代码高亮，比如 example.rb 显示 Ruby 代码。", class: 'form-control snippet-file-name'
            .file-content.code
              %pre#editor= @snippet.content
              = f.hidden_field :content, class: 'snippet-file-content'
    - if params[:files]
      - params[:files].each_with_index do |file, index|
        = hidden_field_tag "files[]", file, id: "files_#{index}"

    .form-actions
      - if @snippet.new_record?
        = f.submit '创建代码片段', class: "btn-create btn"
      - else
        = f.submit '保存修改', class: "btn-save btn"

      - if @snippet.project_id
        = link_to "取消", project_snippets_path(@project), class: "btn btn-cancel"
      - else
        = link_to "取消", snippets_path(@project), class: "btn btn-cancel"
