- @hide_top_links = true
- page_title _("Issues")
- @breadcrumb_link = issues_dashboard_path(assignee_id: current_user.id)
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, safe_params.merge(rss_url_options).to_h, title: "#{current_user.name} 问题")

.top-area
  = render 'shared/issuable/nav', type: :issues, display_count: !@no_filters_set
  .nav-controls
    = link_to safe_params.merge(rss_url_options), class: 'btn has-tooltip', data: { container: 'body' }, title: '订阅' do
      = icon('rss')
    = render 'shared/new_project_item_select', path: 'issues/new', label: "新建问题", with_feature_enabled: 'issues', type: :issues

= render 'shared/issuable/filter', type: :issues

- if current_user && @no_filters_set
  = render 'shared/dashboard/no_filter_selected'
- else
  = render 'shared/issues'
