- breadcrumb_title "CI / CD 设置"
- page_title "CI / CD"

- expanded = Rails.env.test?

%section.settings#secret-variables.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Secret variables')
      = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'secret-variables'), target: '_blank', rel: 'noopener noreferrer'
    %button.btn.btn-default.js-settings-toggle{ type: "button" }
      = expanded ? _('Collapse') : _('Expand')
    %p.append-bottom-0
      = render "ci/variables/content"
  .settings-content
    = render 'ci/variables/index', save_endpoint: group_variables_path

%section.settings#runners-settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Runners settings')
    %button.btn.btn-default.js-settings-toggle{ type: "button" }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Register and see your runners for this group.')
  .settings-content
    = render 'groups/runners/index'
