= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :admin_notification_email, '滥用报告通知邮件地址', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :admin_notification_email, class: 'form-control'
        .help-block
          如果设置，将会发送滥用报告给这个地址。在管理员区域中总是可以看到滥用报告。

  = f.submit _('Save changes'), class: "btn btn-success"
