= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .sub-section
      %h4 代码库检查
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            = f.label :repository_checks_enabled do
              = f.check_box :repository_checks_enabled
              启用代码库检查
            .help-block
              GitLab 将定期在所有项目和百科的代码库中运行
              %a{ href: 'https://git-scm.com/docs/git-fsck', target: 'blank' } 'git fsck'
              以检查磁盘默默损坏的情况。
      .form-group
        .col-sm-offset-2.col-sm-10
          = link_to '清除所有代码库检查', clear_repository_check_states_admin_application_settings_path, data: { confirm: '这将会清除数据库中所有项目的代码库检查状态。这个操作无法撤销。您确定吗？' }, method: :put, class: "btn btn-sm btn-remove"
          .help-block
            如果你收到了大量的错误的代码库检查警告的话，你可以通过这种方式清空数据库中所有代码库检查信息。

    .sub-section
      %h4 总务
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            = f.label :housekeeping_enabled do
              = f.check_box :housekeeping_enabled
              启用自动代码库清理 (git repack, git gc)
            .help-block
              如果禁用了自动清理很长时间后，GitLab 上访问 Git 代码库的过程将会越来越慢，而且代码库也会占用更多的磁盘空间。我们建议这个选项保持启用。
          .checkbox
            = f.label :housekeeping_bitmaps_enabled do
              = f.check_box :housekeeping_bitmaps_enabled
              启用 Git 打包文件位图创建
            .help-block
              创建打包文件位图将会使总务时间增长，但是会加快 'git clone' 的性能。
      .form-group
        = f.label :housekeeping_incremental_repack_period, '递增再打包间隔', class: 'control-label col-sm-2'
        .col-sm-10
          = f.number_field :housekeeping_incremental_repack_period, class: 'form-control'
          .help-block
            在运行递增的 'git repack' 后的 git push 的次数。
      .form-group
        = f.label :housekeeping_full_repack_period, '完整再打包间隔', class: 'control-label col-sm-2'
        .col-sm-10
          = f.number_field :housekeeping_full_repack_period, class: 'form-control'
          .help-block
            在运行完整 'git repack' 后的 git push 的次数。
      .form-group
        = f.label :housekeeping_gc_period, 'Git GC 间隔', class: 'control-label col-sm-2'
        .col-sm-10
          = f.number_field :housekeeping_gc_period, class: 'form-control'
          .help-block
            在运行 'git gc' 后 git push 的次数。

  = f.submit _('Save changes'), class: "btn btn-success"
