.scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
  .fade-left= icon('angle-left')
  .fade-right= icon('angle-right')
  %ul.nav-links.search-filter.scrolling-tabs
    - if @project
      - if project_search_tabs?(:blobs)
        %li{ class: active_when(@scope == 'blobs') }
          = link_to search_filter_path(scope: 'blobs') do
            代码
            %span.badge
              = @search_results.blobs_count
      - if project_search_tabs?(:issues)
        %li{ class: active_when(@scope == 'issues') }
          = link_to search_filter_path(scope: 'issues') do
            问题
            %span.badge
              = limited_count(@search_results.limited_issues_count)
      - if project_search_tabs?(:merge_requests)
        %li{ class: active_when(@scope == 'merge_requests') }
          = link_to search_filter_path(scope: 'merge_requests') do
            合并请求
            %span.badge
              = limited_count(@search_results.limited_merge_requests_count)
      - if project_search_tabs?(:milestones)
        %li{ class: active_when(@scope == 'milestones') }
          = link_to search_filter_path(scope: 'milestones') do
            里程碑
            %span.badge
              = limited_count(@search_results.limited_milestones_count)
      - if project_search_tabs?(:notes)
        %li{ class: active_when(@scope == 'notes') }
          = link_to search_filter_path(scope: 'notes') do
            评论
            %span.badge
              = limited_count(@search_results.limited_notes_count)
      - if project_search_tabs?(:wiki)
        %li{ class: active_when(@scope == 'wiki_blobs') }
          = link_to search_filter_path(scope: 'wiki_blobs') do
            维基
            %span.badge
              = @search_results.wiki_blobs_count
      - if project_search_tabs?(:commits)
        %li{ class: active_when(@scope == 'commits') }
          = link_to search_filter_path(scope: 'commits') do
            提交
            %span.badge
              = @search_results.commits_count

    - elsif @show_snippets
      %li{ class: active_when(@scope == 'snippet_blobs') }
        = link_to search_filter_path(scope: 'snippet_blobs', snippets: true, group_id: nil, project_id: nil) do
          代码片段内容
          %span.badge
            = @search_results.snippet_blobs_count
      %li{ class: active_when(@scope == 'snippet_titles') }
        = link_to search_filter_path(scope: 'snippet_titles', snippets: true, group_id: nil, project_id: nil) do
          标题和文件名
          %span.badge
            = @search_results.snippet_titles_count
    - else
      %li{ class: active_when(@scope == 'projects') }
        = link_to search_filter_path(scope: 'projects') do
          项目
          %span.badge
            = limited_count(@search_results.limited_projects_count)
      %li{ class: active_when(@scope == 'issues') }
        = link_to search_filter_path(scope: 'issues') do
          问题
          %span.badge
            = limited_count(@search_results.limited_issues_count)
      %li{ class: active_when(@scope == 'merge_requests') }
        = link_to search_filter_path(scope: 'merge_requests') do
          合并请求
          %span.badge
            = limited_count(@search_results.limited_merge_requests_count)
      %li{ class: active_when(@scope == 'milestones') }
        = link_to search_filter_path(scope: 'milestones') do
          里程碑
          %span.badge
            = limited_count(@search_results.limited_milestones_count)
