= form_for runner, url: runner_form_url, html: { class: 'form-horizontal' } do |f|
  = form_errors(runner)
  .form-group
    = label :active, "激活", class: 'control-label'
    .col-sm-10
      .checkbox
        = f.check_box :active
        %span.light Runners 暂停后将不能接受新 jobs
  .form-group
    = label :protected, "被保护", class: 'control-label'
    .col-sm-10
      .checkbox
        = f.check_box :access_level, {}, 'ref_protected', 'not_protected'
        %span.light 这个 runner 只能运行被保护分支上触发的的流水线
  .form-group
    = label :run_untagged, '运行没有标签的作业', class: 'control-label'
    .col-sm-10
      .checkbox
        = f.check_box :run_untagged
        %span.light 表示此 Runner 可以运行没有任何标签的作业
  - unless runner.group_type?
    .form-group
      = label :locked, 'Lock to current projects', class: 'control-label'
      .col-sm-10
        .checkbox
          = f.check_box :locked
          %span.light When a runner is locked, it cannot be assigned to other projects
  .form-group
    = label_tag :token, class: 'control-label' do
      授权码
    .col-sm-10
      = f.text_field :token, class: 'form-control', readonly: true
  .form-group
    = label_tag :ip_address, class: 'control-label' do
      IP Address
    .col-sm-10
      = f.text_field :ip_address, class: 'form-control', readonly: true
  .form-group
    = label_tag :description, class: 'control-label' do
      描述
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = label_tag :maximum_timeout_human_readable, class: 'control-label' do
      Maximum job timeout
    .col-sm-10
      = f.text_field :maximum_timeout_human_readable, class: 'form-control'
      .help-block This timeout will take precedence when lower than Project-defined timeout
  .form-group
    = label_tag :tag_list, class: 'control-label' do
      标签
    .col-sm-10
      = f.text_field :tag_list, value: runner.tag_list.sort.join(', '), class: 'form-control'
      .help-block 可以设置只使用指定标签的 Runner 进行构建,标签用逗号分隔。
  .form-actions
    = f.submit '保存修改', class: 'btn btn-save'
