- return unless Gitlab::CurrentSettings.project_export_enabled?

- project = local_assigns.fetch(:project)
- expanded = Rails.env.test?

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      导出项目
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? '收起' : '展开'
    %p
      将此项目及其所有相关数据导出并移动到新的 GitLab 实例。导出完成后，您可以在“新建项目”页面导入文项目文件。
  .settings-content
    .bs-callout.bs-callout-info
      %p.append-bottom-0
        %p
          将导出以下内容：
        %ul
          %li 项目 和 wiki 版本库
          %li 项目上传的附件
          %li 包含 Web 钩子和服务的项目设置
          %li 问题及讨论、 包含对比文件和讨论的合并请求、标记、里程碑、代码片段及其它的项目内容
          %li LFS objects
        %p
          将不导出以下内容：
        %ul
          %li Job traces and artifacts
          %li Container registry images
          %li CI variables
          %li Any encrypted tokens
    %p
      项目导出完毕后，您将收到一封包含下载链接的邮件通知，或者在本页面下载。
    - if project.export_project_path
      = link_to '下载导出',  download_export_project_path(project),
              rel: 'nofollow', download: '', method: :get, class: "btn btn-default"
      = link_to '创建新的导出',  generate_new_export_project_path(project),
              method: :post, class: "btn btn-default"
    - else
      = link_to '导出项目', export_project_path(project),
              method: :post, class: "btn btn-default"
