- page_title "编辑", "#{@runner.description} ##{@runner.id}", "Runners"

%h4 Runner ##{@runner.id}

%hr
  = render 'shared/runners/form', runner: @runner, runner_form_url: project_runner_path(@project, @runner)
