!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head"
  %body.ui_indigo.login-page.application.navless{ data: { page: body_data_page } }
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row
            .col-sm-5.pull-right.new-session-forms-container
              = yield
            .col-sm-7.brand-holder.pull-left
              %h1
                = brand_title
              = brand_image
              - if current_appearance&.description?
                = brand_text
              - else
                %h3 用于代码协作的开源软件

                %p
                  细粒度访问控制管理 git 仓库以保证代码安全。
                  使用合并请求进行代码审查并加强团体合作。
                  每个项目均有自己的问题跟踪和维基页面。

              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)

      %hr.footer-fixed
      .container.footer-container
        .footer-links
          = link_to "浏览", explore_root_path
          = link_to "帮助", help_path
          = link_to "关于 GitLab", "https://about.gitlab.com/"
          = link_to "中文社区版", "https://gitlab.com/xhang/gitlab/"
